<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playnomm.wallet.mapper.setting.BbsMapper">


    <select id="getTotalCount" parameterType="HashMap" resultType="int">
        select count(NTT_SN)
        from PLAYCOMACDB.TCCO_BBS_NTT_DETAIL
        where SYS_ID=#{sysId} and LANG_CODE=#{langCode} and
        BBS_ID in
        <foreach collection="bbsIds" item="bbsId" open="(" close=")" separator=",">
            #{bbsId}
        </foreach>
        <![CDATA[
            and (NTCE_BEGIN_DT <= SYSDATE() and NTCE_END_DT >= SYSDATE())
        ]]>
    </select>
    <select id="getBbsList" parameterType="HashMap" resultType="com.playnomm.wallet.dto.setting.response.BbsResponseDTO">
        select NTT_SN, BBS_NTT_CL_SN, NTT_SJ, NTCE_BEGIN_DT, SYS_UPDT_DT, NTCE_BEGIN_DT, NTCE_END_DT
        from PLAYCOMACDB.TCCO_BBS_NTT_DETAIL
        where SYS_ID=#{sysId} and LANG_CODE=#{langCode} and
        BBS_ID in
        <foreach collection="bbsIds" item="bbsId" open="(" close=")" separator=",">
            #{bbsId}
        </foreach>
        <![CDATA[
            and (NTCE_BEGIN_DT <= SYSDATE() and NTCE_END_DT >= SYSDATE())
        ]]>
        order by NTCE_BEGIN_DT DESC, SYS_REGIST_DT DESC
        LIMIT #{itemPerPage} OFFSET #{offset}
    </select>

    <select id="getDetail" parameterType="int" resultType="com.playnomm.wallet.dto.setting.response.BbsResponseDTO">
        select NTT_SN, BBS_NTT_CL_SN, NTT_SJ, NTT_CN, NTCE_BEGIN_DT, SYS_UPDT_DT, NTCE_BEGIN_DT, NTCE_END_DT
        from PLAYCOMACDB.TCCO_BBS_NTT_DETAIL
        where NTT_SN=#{nttSn}
    </select>

    <insert id="postBbs" parameterType="com.playnomm.wallet.dto.setting.request.BbsRequestDTO">
        INSERT INTO PLAYCOMACDB.TCCO_BBS_NTT_DETAIL (BBS_ID, LANG_CODE, SYS_ID, BBS_NTT_CL_SN, NTT_SJ, ACNT_TY_CODE, NTT_USER_ID, NTT_CN, NTT_NOTICE_AT, NTT_OTHBC_AT, NTT_ATCHMNFL_AT, NTT_SORT_ORDR, USE_AT )
        values (#{bbsId},#{langCode},#{sysId},#{bbsNttClSn},#{nttSj},#{acntTyCode},#{nttUserId}, #{nttCn},#{nttNoticeAt},#{nttOthbcAt}, #{nttAtchmnflAt}, #{nttSortOrdr}, #{useAt});
    </insert>

</mapper>